[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
scikit-learn = "*"
nltk = "*"
"bs4" = "*"
jupyter = "*"
autocorrect = "*"
pandas = "*"
matplotlib = "*"
jellyfish = "*"
"pattern3" = "*"
spacy = "*"

[dev-packages]

[requires]
python_version = "3.6"
