<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Psyber - Detect Bullying</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="static/home.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/home.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='security.png') }}">
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand mx-auto h1 mb-0" href="#">
            <img src="static/security.png" width="30" height="30" class="d-inline-block align-top" alt="">
            Psyber</a>
    </nav>
    <container>
        <div class="row w-50 mx-auto mt-5 justify-content-around">
            <div class="col-med">
                <img class="m-auto mun-logo" src="static/images/mun.png">
            </div>
            <div class="col-med">
                <img class="m-auto mun-logo" src="static/images/eng.jpg">
            </div>
        </div>
        <div class="row w-50 mx-auto mt-5">
            <div class="col-sm">
                <form id="bully-form">
                    <div class="form-group">
                        <label >Enter text and find out if it contains cyber bullying</label>
                        <textarea class="form-control" id="input-sentence" rows="4"></textarea>
                        <button class="btn btn-primary w-100 mt-4" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row w-50 mx-auto mt-5">
            <div class="col-sm text-center">
                If you are being cyberbullied and need help, please visit the RCMP's
                <a href="http://www.rcmp-grc.gc.ca/cycp-cpcj/bull-inti/bullres-resinti-eng.htm">resource center</a>
            </div>
        </div>
    </container>
    <img class="happy m-auto" src="static/images/happy.svg">
    <img class="sad m-auto" src="static/images/sad.svg">
</body>
</html>