.happy {
    position: absolute;
    top: 1px;
    bottom: 1px;
    height: 250px;
    left: 1px;
    right: 1px;
    display: none;
    animation-duration: 2s;
    animation-name: grow;
}

.sad {
    position: absolute;
    top: 1px;
    bottom: 1px;
    height: 20px;
    left: 1px;
    right: 1px;
    display: none;
    animation-duration: 2s;
    animation-name: grow;
}

@keyframes grow {
  from {
    height: 20px;
  }

  to {
    height: 350px;
  }
}

.mun-logo {
    height: 12rem;
}